name: auto-reviewers-when-pull-request
on:
  pull_request:
    types: [opened, ready_for_review]
jobs:
  add-reviews:
    if: github.event.pull_request.draft == false && !contains(github.event.pull_request.labels.*.name, 'renovate')
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Echo
        run: |
            echo "TestEcho"
